<h1><%= t '.title', :user_name => @user.full_name %></h1>

<p>
  <strong><%= t('.full_name') %>:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong><%= t(".email") %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= t(".location") %>:</strong>
  <%= @user.location %>
</p>

<p>
  <strong><%= t(".bio") %>:</strong>
  <%= @user.bio %>
</p>

<%= link_to t('links.edit'), edit_user_path(@user) %> |
<%= link_to t('links.home'), rooms_path %>